@model IEnumerable<BookMyService.Models.Service>
<a class="nav-link text-dark" asp-area="" asp-controller="Service" asp-action="CreateServices">Add Service</a>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">UserName</th>
      <th scope="col">UserType</th>
      <th scope="col">Approve</th>
    </tr>
  </thead>
@foreach(var x in Model)
{
 <tbody>
                            <td>@Html.DisplayFor(m => x.Name)</td>
 
                            <td>@Html.DisplayFor(m => x.StartDate)</td>
 
                            <td>@Html.DisplayFor(m => x.FinishDate)</td>
</tbody>
}
</table>
